<launch>
    <param name="robot_description" textfile="$(find simulation)/models/agv_model.sdf" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -sdf -x 0 -y 0 -z .5  -model AGV" />
</launch>
